.contact-container
  // 
  margin: 100px auto
  // margin-left: 500px
  h4
    text-align: left
  p
    font-size: 16px
    text-align: left

.contact-form
  input
    width: 50%
    height: 34px
  textarea
    width: 50%
    height: 170px
    padding-top: 6px
    padding-bottom: 6px
.map
  
  iframe
    width: 600px
    height: 310px
  

.contact-adress
