@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css)
$main-color: #3CB371
$click-color: #2E8B57
$white-color: #FFF
$black-color: #000
$back-color: #FAFAF5
$content-color: #c2c1c1

body
  background: $back-color
  text-align: center
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif
  color: #555
  font-size: 14px
  line-height: 30px

a
  color: #555
  text-decoration: none
  +trans

a:hover, a:focus
  color: $content-color
  text-decoration: none

li
  list-style: none

img
  max-width: 100%


.banner-img
  background: no-repeat center
  height: 300px
  margin-top: 70px
  margin-bottom: 55px
  background-size: cover

  

form
  a
    color: white-color

input, textarea
  margin: 0
  padding: 0 6px
  vertical-align: middle
  background: none
  border: 1px solid #ddd
  font-size: 18px
  font-weight: 400
  color: $black-color
  -moz-border-radius: 0
  -webkit-border-radius: 0
  border-radius: 0
  -moz-box-shadow: none
  -webkit-box-shadow: none
  box-shadow: none
  -o-transition: all .3s
  -moz-transition: all .3s
  -webkit-transition: all .3s
  -ms-transition: all .3s
  transition: all .3s

input:focus, textarea:focus
  outline: 0
  border: 1px solid #bbb
  -moz-box-shadow: none
  -webkit-box-shadow: none
  box-shadow: none

.btn
  height: 30px
  margin: 0
  padding: 0 20px
  vertical-align: middle
  background: $main-color
  color: $white-color
  border: 0
  font-family: 'Open Sans', sans-serif
  font-size: 16px
  font-weight: 350
  line-height: 30px
  text-shadow: none
  -moz-border-radius: 0
  -webkit-border-radius: 0
  border-radius: 0
  -moz-box-shadow: 0 1px 25px 0 rgba(0, 0, 0, .05) inset, 0 -1px 25px 0 rgba(0, 0, 0, .05) inset
  -webkit-box-shadow: 0 1px 25px 0 rgba(0, 0, 0, .05) inset, 0 -1px 25px 0 rgba(0, 0, 0, .05) inset
  box-shadow: 0 1px 25px 0 rgba(0, 0, 0, .05) inset, 0 -1px 25px 0 rgba(0, 0, 0, .05) inset
  +trans
  
  &:hover
    background: $click-color
    border: 0
    color: $white-color
    -moz-box-shadow: none
    -webkit-box-shadow: none
    box-shadow: none
  &:active
    outline: 0
    background: $click-color
    border: 0
    color: $white-color
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15) inset, 0 -1px 25px 0 rgba(0, 0, 0, .05) inset
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15) inset, 0 -1px 25px 0 rgba(0, 0, 0, .05) inset
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15) inset, 0 -1px 25px 0 rgba(0, 0, 0, .05) inset
  &:focus
    outline: 0
    background: $click-color
    border: 0
    color: $white-color


.slider
  position: relative
  background: url('https://unsplash.it/200/300') no-repeat center
  height: 400px
  margin-top: 65px
  margin-bottom: 55px
  background-size: cover

.overlay
  position: absolute
  width: 100%
  height: 100%
  z-index: 2
  background: $black-color
  opacity: .3
  left: 0
  top: 0

.section-header
  border-bottom: 2px solid #555
  max-width: 20em
  letter-spacing: .2em
  margin: 30px auto
  
  h1
    font-size: 26px
