.footer-social
  margin-top: 15px
  text-align: right
  span
    a
      font-size: 14px
  a
      margin: 0 0 0 10px
      font-size: 26px
      color: #888
  a:hover, a:focus
    color: #ea5b7c

.panel-footer
  background: #404145
  bottom: 0
  left: 0
  margin: 0 auto
  font-size: 14px

.footer-border
  margin-top: 30px
  border-top: 1px dashed #ddd

.footer-copyright
  margin-top: 15px
  line-height: 24px
  text-align: left
  color: #888
