.panel
  +size(100%,600px)
  animation: fadeInDown 1s ease both
  box-shadow: 0px 0px 10px gray
  img
    +size(200px)
    margin-top: 20px

.form-group
  label
    font-size: 20px
  i
    margin-right: 10px
    +trans
  &:hover,&:focus
    color: $main-color

.login, .forget, .register
  .form-control
    +size(50%, 100%)
    display: inline

.form-control
  font-size: 16px
  margin: 5px 10px
  background: transparent
  border: none
  outline: none
  box-shadow: none
  border-bottom: 1px solid #757575
  &:focus
    border: none
    outline: none
    box-shadow: none
    border-bottom: 2px solid $main-color
    color: $black-color
