@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
  background: #FAFAF5;
  text-align: center;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  font-size: 14px;
  line-height: 30px; }

.container {
  width: 1300px; }

a {
  color: #555;
  text-decoration: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s; }

a:hover, a:focus {
  color: #c2c1c1;
  text-decoration: none; }

img {
  max-width: 100%; }

input, textarea {
  margin: 0;
  padding: 0 6px;
  vertical-align: middle;
  background: none;
  border: 1px solid #ddd;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #c2c1c1;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s; }

input:focus, textarea:focus {
  outline: 0;
  border: 1px solid #bbb;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.btn {
  height: 30px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  background: #3CB371;
  border: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #FFF;
  text-shadow: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: 0 1px 25px 0 rgba(0, 0, 0, 0.05) inset, 0 -1px 25px 0 rgba(0, 0, 0, 0.05) inset;
  -webkit-box-shadow: 0 1px 25px 0 rgba(0, 0, 0, 0.05) inset, 0 -1px 25px 0 rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 1px 25px 0 rgba(0, 0, 0, 0.05) inset, 0 -1px 25px 0 rgba(0, 0, 0, 0.05) inset;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s; }
  .btn:hover {
    background: #2E8B57;
    border: 0;
    color: #FFF;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn:active {
    outline: 0;
    background: #2E8B57;
    border: 0;
    color: #FFF;
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15) inset, 0 -1px 25px 0 rgba(0, 0, 0, 0.05) inset;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15) inset, 0 -1px 25px 0 rgba(0, 0, 0, 0.05) inset;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15) inset, 0 -1px 25px 0 rgba(0, 0, 0, 0.05) inset; }
  .btn:focus {
    outline: 0;
    background: #2E8B57;
    border: 0;
    color: #FFF; }

.slider {
  position: relative;
  background: url("https://www.teasoap.com.tw/downloads/banner/pic/20140829091323.jpg") no-repeat center;
  height: 400px;
  margin-top: 65px;
  margin-bottom: 55px;
  background-size: cover; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #000;
  opacity: .3;
  left: 0;
  top: 0; }

.section-header {
  border-bottom: 2px solid #555;
  max-width: 17em;
  letter-spacing: .2em;
  margin: 30px auto; }

.navbar {
  margin-bottom: 0;
  background: #FAFAF5;
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  box-shadow: 0px 0px 30px grey; }

.navbar-nav {
  font-size: 16px;
  color: #888;
  letter-spacing: .13em;
  text-transform: uppercase; }
  .navbar-nav li a {
    padding: 23px 10px;
    border-bottom: 3px solid #fff;
    color: #5d5d5d;
    width: 120px; }
    .navbar-nav li a:hover, .navbar-nav li a:focus {
      border-color: #3CB371;
      outline: 0; }

.navbar-brand {
  width: 300px;
  height: 68px;
  background: url("../images/logo.png") no-repeat center;
  background-size: cover;
  text-indent: -99999px; }

.news-card {
  height: 450px;
  margin-bottom: 40px;
  background: #FFF;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(185, 185, 185, 0.75);
  text-align: left; }
  .news-card a:hover {
    color: #000; }
  .news-card img {
    width: 100%;
    height: 250px; }
  .news-card h4 {
    padding: 25px 20px 0px 20px;
    font-size: 20px;
    height: 55px; }
  .news-card p {
    padding: 5px 20px 20px 20px;
    font-size: 15px;
    color: #999999; }

.product-card {
  position: relative;
  height: 200px;
  margin-bottom: 20px;
  background: #FFF; }
  .product-card img {
    width: 100%;
    height: 100%; }
  .product-card h3 {
    position: absolute;
    top: 30%;
    left: 0;
    color: #FFF;
    width: 100%;
    z-index: 3; }

.hot-product-card img {
  width: 100%;
  height: 100%; }

.hot-product-card h3 {
  position: absolute;
  bottom: 7%;
  left: 5%;
  color: #FFF;
  z-index: 3; }

.product-card:hover img, .hot-product-card:hover img, .news-card:hover img {
  opacity: .8;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s; }

.slider_container {
  height: 420px;
  position: relative;
  border-color: #FFF; }
  .slider_container img {
    width: 100%;
    height: 320px; }
  .slider_container div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-animation: round 25s linear infinite;
    animation: round 25s linear infinite; }
  .slider_container span {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 20px 20px 20px;
    font-size: 15px;
    background: #FFF;
    height: 100px;
    text-align: left;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

@-webkit-keyframes round {
  4% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 0 - 1秒 淡入*/ }
  20% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 1- 5秒靜止*/ }
  24% {
    opacity: 0;
    filter: alpha(opacity=0);
    /* 5-6秒淡出*/ } }

@keyframes round {
  4% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 0 - 1秒 淡入*/ }
  20% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 1- 5秒靜止*/ }
  24% {
    opacity: 0;
    filter: alpha(opacity=0);
    /* 5-6秒淡出*/ } }

.slider_container div:nth-child(5) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.slider_container div:nth-child(4) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s; }

.slider_container div:nth-child(3) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s; }

.slider_container div:nth-child(2) {
  -webkit-animation-delay: 15s;
  animation-delay: 15s; }

.slider_container div:nth-child(1) {
  -webkit-animation-delay: 20s;
  animation-delay: 20s; }

.slider_container:hover span {
  width: 100%;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1); }

.slider_container:hover div {
  -webkit-animation-play-state: paused;
  animation-play-state: paused; }

.about-container {
  margin-top: 65px; }

.about-group {
  width: 100%;
  height: 350px;
  margin-top: 15px;
  border-bottom: 2px solid #ea5b7c; }
  .about-group p {
    font-size: 18px;
    text-align: left; }

.contact-container {
  margin: 100px auto; }
  .contact-container h4 {
    text-align: left; }
  .contact-container p {
    font-size: 16px;
    text-align: left; }

.contact-form input {
  width: 50%;
  height: 34px; }

.contact-form textarea {
  width: 50%;
  height: 170px;
  padding-top: 6px;
  padding-bottom: 6px; }

.map iframe {
  width: 600px;
  height: 310px; }

.panel {
  width: 500px;
  height: 600px;
  margin: 65px auto;
  box-shadow: 0px 0px 30px grey; }
  .panel img {
    width: 200px;
    height: 200px;
    margin-top: 20px; }

.form-group label {
  font-size: 20px; }

.form-group i {
  margin-right: 10px; }

.form-group:hover {
  color: #3CB371; }

.input-form {
  margin-top: 10px;
  width: 50%;
  height: 30px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  background: transparent;
  border-color: #FFF;
  border-bottom: 1px solid #757575; }
  .input-form:focus {
    border: none;
    border-bottom: 2px solid #3CB371; }

.footer a {
  color: #c2c1c1; }
  .footer a:hover, .footer a:focus {
    color: #3CB371; }

.top-footer {
  background: #313030;
  color: #c2c1c1; }
  .top-footer .left {
    text-align: left; }

.bottom-footer {
  background: #272626;
  padding-top: 10px;
  margin: 0 auto; }
  .bottom-footer a {
    margin: 0 0 0 10px;
    font-size: 26px; }
  .bottom-footer ul {
    float: right;
    list-style: none; }
  .bottom-footer li {
    float: left;
    padding-left: 10px; }
  .bottom-footer .footer-copyright {
    text-align: left;
    color: #c2c1c1; }
