@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

body {
  background: #FAFAF5;
  text-align: center;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  font-size: 14px;
  line-height: 30px; }

a {
  color: #555;
  text-decoration: none;
  transition: 0.5s 0s; }

a:hover, a:focus {
  color: #c2c1c1;
  text-decoration: none; }

li {
  list-style: none; }

img {
  max-width: 100%; }

.banner-img {
  background: no-repeat center;
  height: 300px;
  margin-top: 70px;
  margin-bottom: 55px;
  background-size: cover; }

form a {
  color: white-color; }

input, textarea {
  margin: 0;
  padding: 0 6px;
  vertical-align: middle;
  background: none;
  border: 1px solid #ddd;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s; }

input:focus, textarea:focus {
  outline: 0;
  border: 1px solid #bbb;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.btn {
  height: 30px;
  margin-bottom: 20px;
  padding: 0 20px;
  vertical-align: middle;
  background: #3CB371;
  color: #FFF;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  border-radius: 0;
  border: 0;
  transition: 0.5s 0s; }
  .btn:hover, .btn:active, .btn:focus {
    background: #2E8B57;
    border: 0;
    color: #FFF; }

.slider {
  position: relative;
  background: url("https://unsplash.it/200/300") no-repeat center;
  height: 400px;
  margin-top: 65px;
  margin-bottom: 55px;
  background-size: cover; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #000;
  opacity: .3;
  left: 0;
  top: 0; }

.section-header {
  border-bottom: 2px solid #555;
  max-width: 20em;
  letter-spacing: .2em;
  margin: 30px auto; }
  .section-header h1 {
    font-size: 26px; }

.navbar-default {
  background: #FAFAF5;
  border: 0;
  box-shadow: 0px 0px 10px gray;
  font-size: 16px; }
  .navbar-default .navbar-nav li a {
    padding: 23px 15px;
    border-bottom: 3px solid #FAFAF5;
    color: #000; }
    .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active, .navbar-default .navbar-nav li a:focus {
      background: #e0e0e0;
      border-color: #3CB371;
      outline: 0; }

.navbar-brand {
  width: 300px;
  height: 100%;
  margin-top: 10px;
  background: url("../images/logo.png") no-repeat center;
  background-size: cover;
  text-indent: -99999px; }

.news {
  -webkit-animation: fadeIn 1s ease both;
  animation: fadeIn 1s ease both; }

.list-group {
  border-top: #2E8B57 1px solid;
  border-bottom: #2E8B57 1px solid;
  line-height: 35px;
  text-align: left;
  width: 80%;
  margin: 0px auto;
  margin-bottom: 50px; }
  .list-group a {
    border-bottom: #ccc 2px solid; }
    .list-group a ul li {
      font-size: 18px;
      text-align: left;
      display: inline;
      padding-left: 30px; }

.list-group-item {
  border: 0; }

.news-card {
  width: 100%;
  height: 450px;
  -webkit-animation: fadeIn 1s ease both;
  animation: fadeIn 1s ease both;
  margin-bottom: 40px;
  background: #FFF;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(185, 185, 185, 0.75);
  text-align: left; }
  .news-card a:hover {
    color: #000; }
  .news-card img {
    width: 100%;
    height: 250px; }
  .news-card h4 {
    padding: 25px 20px 0px 20px;
    font-size: 20px;
    width: 100%;
    height: 55px; }
  .news-card p {
    padding: 5px 20px 20px 20px;
    font-size: 15px;
    color: #999999; }

.product-card {
  -webkit-animation: fadeIn 1s ease both;
  animation: fadeIn 1s ease both;
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  background: #FFF; }
  .product-card img {
    width: 100%;
    height: 100%; }
  .product-card h3 {
    position: absolute;
    top: 30%;
    left: 0;
    color: #FFF;
    width: 100%;
    z-index: 3; }

.hot-product-card img {
  width: 100%;
  height: 100%; }

.hot-product-card h3 {
  position: absolute;
  bottom: 7%;
  left: 5%;
  color: #FFF;
  z-index: 3; }

.product-card:hover img, .hot-product-card:hover img, .news-card:hover img {
  opacity: .8;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s; }

.slider_container {
  height: 420px;
  position: relative;
  border-color: #FFF; }
  .slider_container img {
    width: 100%;
    height: 320px; }
  .slider_container div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-animation: round 25s linear infinite;
    animation: round 25s linear infinite; }
  .slider_container span {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 20px 20px 20px;
    font-size: 15px;
    background: #FFF;
    height: 100px;
    text-align: left;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

@-webkit-keyframes round {
  4% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 0 - 1秒 淡入*/ }
  20% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 1- 5秒靜止*/ }
  24% {
    opacity: 0;
    filter: alpha(opacity=0);
    /* 5-6秒淡出*/ } }

@keyframes round {
  4% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 0 - 1秒 淡入*/ }
  20% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 1- 5秒靜止*/ }
  24% {
    opacity: 0;
    filter: alpha(opacity=0);
    /* 5-6秒淡出*/ } }

.slider_container div:nth-child(5) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.slider_container div:nth-child(4) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s; }

.slider_container div:nth-child(3) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s; }

.slider_container div:nth-child(2) {
  -webkit-animation-delay: 15s;
  animation-delay: 15s; }

.slider_container div:nth-child(1) {
  -webkit-animation-delay: 20s;
  animation-delay: 20s; }

.slider_container:hover span {
  width: 100%;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1); }

.slider_container:hover div {
  -webkit-animation-play-state: paused;
  animation-play-state: paused; }

.about {
  font-weight: 400;
  -webkit-animation: fadeIn 1s ease both;
  animation: fadeIn 1s ease both; }
  .about p {
    margin: 50px 15%;
    text-align: left;
    font-size: 20px; }

iframe {
  width: 600px;
  height: 400px; }

.contact {
  -webkit-animation: fadeIn 1s ease both;
  animation: fadeIn 1s ease both; }
  .contact .container {
    width: 50%;
    height: 100%;
    -webkit-animation: fadeInUp 1s ease both;
    animation: fadeInUp 1s ease both; }
    .contact .container .info {
      font-size: 20px;
      margin-top: 50px;
      margin-bottom: 50px; }
      .contact .container .info i {
        color: #3CB371;
        padding-bottom: 20px; }
    .contact .container .form-group {
      text-align: left; }
      .contact .container .form-group .input-form {
        width: 100%;
        height: 30px; }

.panel {
  width: 100%;
  height: 600px;
  -webkit-animation: fadeInDown 1s ease both;
  animation: fadeInDown 1s ease both;
  box-shadow: 0px 0px 10px gray; }
  .panel img {
    width: 200px;
    height: 200px;
    margin-top: 20px; }

.form-group label {
  font-size: 20px; }

.form-group i {
  margin-right: 10px;
  transition: 0.5s 0s; }

.form-group:hover {
  color: #3CB371; }

.input-form {
  margin-top: 10px;
  width: 50%;
  height: 30px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  background: transparent;
  border-color: #FFF;
  border-bottom: 1px solid #757575; }
  .input-form:focus {
    border: none;
    border-bottom: 2px solid #3CB371;
    color: #000; }

.footer .top-footer {
  text-align: left;
  margin: 0 auto;
  color: #FFF;
  font-weight: 200; }

.footer p {
  color: #FFF; }

.footer a {
  color: #FFF; }
  .footer a:hover {
    color: #3CB371; }
  .footer a:focus {
    color: #2E8B57; }
  .footer a i {
    padding-right: 15px; }
  .footer a p:hover {
    color: #3CB371; }
  .footer a p:focus {
    color: #2E8B57; }

.footer h3:after {
  content: '';
  border-bottom: #3CB371 3px solid;
  display: block;
  height: 2px;
  width: 60px;
  margin-top: 8px;
  margin-bottom: 15px; }

.top-footer {
  background: #313030;
  color: #c2c1c1; }

.bottom-footer {
  background: #272626;
  padding-top: 10px;
  margin: 0 auto; }
  .bottom-footer a {
    margin: 0 0 0 10px;
    font-size: 26px; }
  .bottom-footer ul {
    float: right; }
  .bottom-footer li {
    float: left;
    padding-left: 10px; }
  .bottom-footer .footer-copyright {
    text-align: left;
    color: #c2c1c1; }

.fab-container {
  margin: 1em;
  position: fixed;
  bottom: -72px;
  right: 0; }

.fab {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  position: relative;
  cursor: pointer;
  transition: .3s; }

.fab:before {
  content: attr(tooltip);
  background: #595959;
  padding: 4px 8px;
  border-radius: 2px;
  position: absolute;
  top: 16px;
  right: 100%;
  color: white;
  font: 400 15px Roboto;
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  transition: .3s; }

.fab:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2), 0 3px 8px rgba(0, 0, 0, 0.12); }

.fab:hover:before {
  right: 110%;
  opacity: 1;
  visibility: visible; }

.top .profile {
  margin-bottom: 1em; }

.profile:after {
  background: url("/static/images/cart.svg") #3CB371 no-repeat center;
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: .3s; }

.profile:hover:after {
  background: url("/static/images/cd-top-arrow.svg") #2E8B57 no-repeat center;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.top:after {
  background: url("/static/images/rocket.svg") #3CB371 no-repeat center;
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: .3s; }

.top:hover:after {
  background: url("/static/images/startup.svg") #2E8B57 no-repeat center;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg); }

.page-title-container {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); }
